body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
    font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 4em;
    padding-bottom: 1em;
}
img.full-size {
    width: 100%;
}
    img.not-100pc {
        width: auto;
    }
div.main{
    width:100vw;
    min-height:100vh;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255,255,255);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.42);
}
body.bg-linear-gradient div.main{
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(127,160,255,1) 100%);
}

.sh-form > input {
    color: #e61664;
    border-radius: 21px;
    width: 80%;
    height: 2.2em;
    padding: 10px 20px;
    margin-left: 5%;
    font-weight: bold;
    border-style: solid;
    border-color: #e61664;
}

.sh-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
button {
    background: none;
    border: none;
}
.sh-actions a, .sh-actions a:visited, .sh-actions button, .sh-actions button:visited{
    color: #fff;
    text-decoration: none;
}

.sh-mission {
    color: #082660;
    padding: 0.5em 2em;
    line-height: 1.4em;
    font-size: 1.5em;
    text-align: justify;
}

.sh-btn{
    font-weight: bold;
    color: #fff;
    padding: 1em 2em;
    height: 1em;
    border-radius: 35px;
    text-decoration: none;
    margin: 2px;
}

.sh-btn-image{
    padding: .5em 1em;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
}
.btn-green {
	background-color: #84d275;
	color: #064a06;
}
.btn-blue{background-color: #082660; color:#fff}
.btn-red{background-color: #e61664;}

[data-team=blue] .bg-color-team {
    background-color:#50C0DB;
}
[data-team=yellow] .bg-color-team {
    background-color:#F9AF1A;
}
[data-team=orange] .bg-color-team {
    background-color:#EC681B;
}
[data-team=pink] .bg-color-team {
    background-color:#e71265;
}

[data-team=blue] .text-color-team {
    color:#50C0DB;
}
[data-team=yellow] .text-color-team {
    color:#F9AF1A;
}
[data-team=orange] .text-color-team {
    color:#EC681B;
}
[data-team=pink] .text-color-team {
    color:#e71265;
}

.hidden {
    display: none;
}
[data-team=blue] .visible-blue {
    display: block;
}
[data-team=yellow] .visible-yellow {
    display: block;
}
[data-team=orange] .visible-orange {
    display: block;
}
[data-team=pink] .visible-pink {
    display: block;
}

.fl-right{float: right; margin: 0.5em;}

.radial-gradient {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(30,87,153,0) 0%, rgba(76,87,208,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,87,153,0) 0%, rgba(76,87,208,1)100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(30,87,153,0) 0%,rgba(76,87,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#7fa0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width:100%;
    min-height:100vh
}

.lets-go-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
input[type=text] {
    outline: none;
}

.badge-wrapper {
    position: relative;
}
    .badge-wrapper img:first-child {
        width: 100%;
    }
    .badge-wrapper img + img {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
    }

h1 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Avenir', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
}
.text-white {
    color: #fff;
}
.text-blue {
    color: #153F92 !important;
}
.text-red {
    color: #e71165 !important;
}
.text-team-blue {color:#50C0DB;}
.text-team-yellow {color:#F9AF1A;}
.text-team-orange {color:#EC681B;}
.text-team-red {color:#e71265;}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.content {
    margin:1em;
    color:#fff;
}
.centered{margin: auto;}
.block{display: block;}

/***
 * Home
 */

.home-subtext{
    font-size: 1.2em;
    opacity: 0.7;
    color: #153F92;
    font-style: italic;
}

/***
 * Page Capacity
 */
.page-capacity .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.page-capacity header {
    height:25vh;
    padding: 0;
}
    .page-capacity header {
        margin: 0;
    }
        .page-capacity header h2{
            align-self: center;
        }

.page-capacity button[disabled]{
    opacity:0.65
}
.page-capacity .sh-actions {
    flex-direction: column;
    height:69vh;
}
    .page-capacity .sh-actions button{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 23vh;
        align-items: center;
        font-size: 1em;
        box-sizing: border-box;
    }
    .page-capacity .sh-actions button.selected{
        filter: drop-shadow(0 0 0.75rem #e71165);
    }
        .page-capacity .sh-actions button img{
            flex-grow: 1;
            width: auto;
            max-height: 20vh;
        }

.page-capacity footer {
    flex-direction: column;
    height:6vh;
}
/**
 * Page welcomeTeam
 */
.page-welcomeTeam .mask-wrapper{
    padding-left: 1em;
    padding-right: 1em;
}
    .page-welcomeTeam .mask-wrapper h2{
        font-size: 1.75em;
    }
    .page-welcomeTeam .mask-wrapper img{
        max-width:400px;
        width:80%;
    }


/***
 * Page Gain
 */
.page-gain .content {
    margin-top: 1em;
}
/**
 * PAGE DASHBOARD
 */
.page-dashboard .hero-name-separator {
    min-height: 50vh;
    max-height: 500px;
    position: relative;
}
    [data-team=blue].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/blue/bg.png) center bottom no-repeat;
    }
    [data-team=orange].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/orange/bg.png) center bottom no-repeat;
    }
    [data-team=yellow].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/yellow/bg.png) center bottom no-repeat;
    }
    [data-team=pink].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/pink/bg.png) center bottom no-repeat;
    }
    .page-dashboard .hero-name-separator h2 {
        margin: 0;
    }
    .page-dashboard .hero-name-separator p {
        margin: 0;
    }
.page-dashboard .sh-actions a {
    font-size: 1em;
    width: 50%;
}

.page-dashboard .sh-actions {
    min-height:20vh;
    margin-top: -10vh;
}
    .page-dashboard .sh-actions a img {
        width: auto;
        margin-bottom: 10px;
        height: 60px;
    }
.page-dashboard footer {
    min-height:30vh;
}
.page-dashboard footer.sh-background {
    background: url(/img/7-dashbaord/footer-bg.png) left bottom no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .page-dashboard footer.sh-background a {
        width:50%;
        height: auto;
    }
.page-dashboard .colored-profile {
    height: 20vh;
    width: auto;
}

.page-dashboard .content {
    margin-bottom: 130px;
}

#life-counter{
	font-size: 1.2em;
	margin-bottom: 0.5em;
	background-color: #082660;
    color: #fff;
    -webkit-animation:colorchange 4s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {background-color: #50C0DB;}
    100% {background-color: #082660;}
  }

/**
 * PAGE TASKS
 */

.badges-wrapper>img{max-width: 220px;}

#challenge-link{
    justify-self: center;
    width: max-content;
}

.tasks {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.unactive {opacity: 0.6;}

.red-form{
    color: #fff;
    border-radius: 21px;
    height: 2.2em;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #e61664;
    border-style: solid;
}

.task{
    padding: 0.5em;
    width: 90%;
    font-weight: 400;
    margin-top: 1.5em;
}

.task>.label{
    display: block;
    margin-top:0.5em;
    color: #e61664;
    border-radius: 21px;
    padding: 10px;
}

.task.undone>.label{
    background-color: #e61664;
    color: #fff;
}

.btn-action{
    background-color: #153F92;
    color: #fff;
    border-radius: 21px;
    padding: 8px 16px;
    margin: 4px;
}

.btn-actions-wrapper{
    margin-top:1em;
    text-align: center;
}

.full_width{width: 90%;}

.task .btn-action{
    float: right;
    font-size: 0.8em;
}

/**
 * PAGE SCORE
 */
.score-label{font-size: 1.2em; line-height: 1.6em; margin: 2em;}
.score-counter{
    font-weight: 800;
    color: #e71265;
    font-size: 2.4em;
}

.recap-grid{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

.width50{width: 50%; float: left;}
.cmask{margin-top: 42px;}
.recap-brief{
    text-align: center;
}
.block-conclude{
    display: flex;
    margin: 1em;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.recap-brief .subtext{display: block; margin-top: 0.4em; font-size: 1.4em;}
.recap-brief .conclude{font-size: 1.5em; font-weight: 600;}
.colored-number{font-weight: 800;}

/**
 * PAGE TROPHY
 */

.life-counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
    font-weight: 400;
}
.lifes-value{
    font-size: 2.8em;
}
.circle {
    width:100px;
    height:100px;
    border-radius:100px;
    line-height:100px;
    text-align:center;
    margin: 0.2em;
    border: solid 10px #9d99e0;
    text-shadow: 1px 1px 4px lightslategray;
    box-shadow: 1px 1px 9px black;
}
.trophy-wrapper-header{
    height: 90px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.bg-blue{background-image: url('../img/bg_blue.png');}
.bg-red{background-image: url('../img/bg_red.png');}
.bg-orange{background-image: url('../img/bg_orange.png');}
.bg-yellow{background-image: url('../img/bg_yellow.png');}

.trophy-wrapper img{
    margin: 1.1em;
}
.trophy-wrapper{
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #143f92;
}
.trophy-wrapper-footer{
    padding: 0.5em;
    background-color: #143f92;
}