body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
    font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 4em;
    padding-bottom: 1em;
}
img.full-size {
    width: 100%;
}
    img.not-100pc {
        width: auto;
    }
div.main{
    width:100vw;
    min-height:100vh;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255,255,255);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.42);
}
body.bg-linear-gradient div.main{
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(127,160,255,1) 100%);
}

.sh-form > input {
    color: #e61664;
    border-radius: 21px;
    width: 80%;
    height: 2.2em;
    padding: 10px 20px;
    margin-left: 5%;
    font-weight: bold;
    border-style: solid;
    border-color: #e61664;
}

.sh-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.sh-actions a, .sh-actions a:visited, .sh-actions button, .sh-actions button:visited{
    color: #fff;
    text-decoration: none;
}

.sh-mission {
    color: #082660;
    padding: 0.5em 2em;
    line-height: 1.4em;
    font-size: 1.5em;
    text-align: justify;
}

.sh-btn{
    font-weight: bold;
    color: #fff;
    padding: 1em 2em;
    height: 1em;
    border-radius: 35px;
    text-decoration: none;
}

.sh-btn-image{
    padding: .5em 1em;
    border-radius: 35px;
    text-decoration: none;
    display: inline-block;
}

.btn-blue{background-color: #082660; color:#fff}
.btn-red{background-color: #e61664;}

[data-team=blue] .bg-color-team {
    background-color:#50C0DB;
}
[data-team=yellow] .bg-color-team {
    background-color:#F9AF1A;
}
[data-team=orange] .bg-color-team {
    background-color:#EC681B;
}
[data-team=pink] .bg-color-team {
    background-color:#e71265;
}

.fl-right{float: right; margin: 0.5em;}

.radial-gradient {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(30,87,153,0) 0%, rgba(76,87,208,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,87,153,0) 0%, rgba(76,87,208,1)100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(30,87,153,0) 0%,rgba(76,87,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#7fa0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width:100%;
    min-height:100vh
}

.lets-go-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
input[type=text] {
    outline: none;
}

.badge-wrapper {
    position: relative;
}
    .badge-wrapper img + img {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
    }

h1 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    margin: 0;
    text-align: center;
}
h2 {
    font-family: 'Avenir', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
}
.text-white {
    color: #fff;
}
.text-blue {
    color: #153F92 !important;
}
.text-red {
    color: #e71165 !important;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.content {
    margin:1em;
    color:#fff;
}
.centered{margin: auto;}
.block{display: block;}

.page-gain .content {
    margin-top: 5em;
}

/***
 * Page Capacity
 */
.page-capacity .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.page-capacity header {
    height:25vh;
    padding: 0;
}
    .page-capacity header {
        margin: 0;
    }
        .page-capacity header h2{
            align-self: center;
        }

.page-capacity button[disabled]{
    opacity:0.65
}
.page-capacity .sh-actions {
    flex-direction: column;
    height:69vh;
}
    .page-capacity .sh-actions button{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-height: 23vh;
        align-items: center;
        font-size: 1em;
        box-sizing: border-box;
    }
    .page-capacity .sh-actions button.selected{
        filter: drop-shadow(0 0 0.75rem #e71165);
    }
        .page-capacity .sh-actions button img{
            flex-grow: 1;
            width: auto;
            max-height: 20vh;
        }

.page-capacity footer {
    flex-direction: column;
    height:6vh;
}
/**
 * PAGE DASHBOARD
 */
.page-dashboard .hero-name-separator {
    min-height: 50vh;
    max-height: 500px;
    position: relative;
}
    [data-team=blue].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/blue/bg.png) center bottom no-repeat;
    }
    [data-team=orange].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/orange/bg.png) center bottom no-repeat;
    }
    [data-team=yellow].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/yellow/bg.png) center bottom no-repeat;
    }
    [data-team=pink].page-dashboard  .hero-name-separator {
        background: url(/img/7-dashbaord/pink/bg.png) center bottom no-repeat;
    }
    .page-dashboard .hero-name-separator h2 {
        margin: 0;
    }
    .page-dashboard .hero-name-separator p {
        margin: 0;
    }
.page-dashboard .sh-actions a {
    font-size: 1em;
    width: 50%;
}

.page-dashboard .sh-actions {
    min-height:20vh;
    margin-top: -10vh;
}
    .page-dashboard .sh-actions a img {
        width: auto;
        margin-bottom: 10px;
        height: 60px;
    }
.page-dashboard footer {
    min-height:30vh;
}
.page-dashboard footer.sh-background {
    background: url(/img/7-dashbaord/footer-bg.png) left bottom no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .page-dashboard footer.sh-background a {
        width:50%;
        height: auto;
    }
.page-dashboard .colored-profile {
    height: 20vh;
    width: auto;
}

.page-dashboard .content {
    margin-bottom: 130px;
}
